.pendu > .symbol {
    font-size: 2em;
    outline: 0.08em solid silver;
    margin: 0.2em;
    cursor: default;
  }
  
  .pendu > .symbol.hidden {
    background: silver;
  }
  
  .pendu > .symbol.visible {
    cursor: not-allowed;
  }
  
  .pendu > .symbol > .symbol {
    margin: auto;
  }
  